target/
.idea/
flamegraph.svg
.vscode/
perf.data
perf.data.old
*/**.blend1
assets/models/sponza.glb

# direnv
.direnv
.nix

# pre-commit
.pre-commit-config.yaml

# code coverage
tarpaulin-report.html
