target/
.idea/
flamegraph.svg
.vscode/
perf.data
perf.data.old
*/**.blend1
assets/models/sponza.glb

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
